.item {
  border: 2px solid #F6F6F6;
  border-radius: 6px;
  padding: 24px;
  margin-bottom: 16px;

  a {
    font-size: 24px;
    font-weight: bold;
    line-height: 125%;
    letter-spacing: -0.2px;
    color: #181D25;
  }
  p {
    font-size: 18px;
    font-weight: normal;
    line-height: 150%;
    color: #464A51;
  }
}