.card {
  background-color: #F2F7FE;
  border-radius: 6px;
  padding: var(--spacing-medium-32) var(--spacing-small-24) var(--spacing-small-16);
  margin-top: var(--spacing-base);
  margin-bottom: var(--spacing-small-16);
}

.icon {
  font-size: 4rem;
}
