.completecheck {
  display: inline-block;
  margin-right: 10px;
  padding: 2px 8px;
  border: 1px solid var(--ifm-color-gray-light);
  border-radius: 4px;
  color: var(--ifm-color-gray-dark);
}

.checked {
}