/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0067f3;
  --ifm-color-primary-dark: #005ddb;
  --ifm-color-primary-darker: #0058cf;
  --ifm-color-primary-darkest: #0048aa;
  --ifm-color-primary-light: #0c73ff;
  --ifm-color-primary-lighter: #187aff;
  --ifm-color-primary-lightest: #3d8fff;
  --ifm-code-font-size: 95%;
  --ifm-color-gray-light: #e8e8e9;
  --ifm-color-gray-dark: #6f7277;
}

body {
  font-family: 'Times New Roman', Times, serif
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__logo {
  width: 140px;
}

.navbar__title {
  font-weight: var(--ifm-font-weight-light);
}

.tags {
  margin-bottom: 28px;
}

.tags a,
.completecheck {
  display: inline-block;
  margin-right: 10px;
  padding: 2px 8px;
  border: 1px solid var(--ifm-color-gray-light);
  border-radius: 4px;
  color: var(--ifm-color-gray-dark);
}

.menu__link:hover,
.menu__link--active:not(.menu__link--sublist),
.completecheck.checked {
  background: #f2f7fe;
}

.completecheck {
  background: #fff;
}

#top-area {
  background-color: #F2F7FE;
  border-radius: 6px;
  padding: 24px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.top-area-small {
  background-color: #fff;
  border-radius: 6px;
  padding: 24px;
  margin-top: 16px;
  display: flex;
}

.medium-icon  {
  font-size: 32px;
  background-color: #E6F0FE;
  float: left;
  width: 72px;
  height: 72px;
  text-align: center;
  line-height: 72px;
  border-radius: 6px;
  margin-bottom: auto;
  margin-right: 24px;
}

.big-icon {
  font-size: 64px;
}

.top-area-text  {
}

.icon-area  {
}